<div id="fh5co-wrapper">
    <div id="fh5co-page">
    <div id="fh5co-header">
      <header id="fh5co-header-section">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html">Fit<span>ness</span></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li class="active">
                  <a routerLink="/">Home</a>
                </li>
                

                <li>
                  <a routerLink="/login">Login </a>
                </li>
                <li><a routerLink="/signup">SignUp</a></li>
                <li><a routerLink="/trainer">Trainer</a></li>
                <li><a routerLink="/trainee">Trainee</a></li>
                <li><a routerLink="/aboutus">About Us</a></li>
                <li><a routerLink="/contactUs"> Contact Us</a></li>
                
              </ul>
            </nav>
          </div>
        </div>
      </header>		
    </div>

<!-- end:fh5co-header -->
<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/ss.jpg);">
        <div class="desc animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Welcome  Trainee <br> <b>Page</b></h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<div class="profile-main">
		<div class="profile-header">
			<div class="user-detail">
				<div class="user-image">
					<img src="http://nicesnippets.com/demo/up-profile.jpg">
				</div>
				<div class="user-data">
					<h2>Member name</h2>
					<span class="post-label">Trainee</span>
					<span class="post-label">Speaker</span>
					<span class="post-label">AMA</span>
					<p>Trainee Member <strong>NewSpot</strong><br>
					<i class="fa fa-map-marker" aria-hidden="true"></i> Kegalle,Sri Lanka.
					</p>
				</div>