<div id="fh5co-wrapper">
    <div id="fh5co-page">
    <div id="fh5co-header">
      <header id="fh5co-header-section">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html">Fit<span>ness</span></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li class="active">
                  <a routerLink="/">Home</a>
                </li>
                

                <li>
                  <a routerLink="/login">Login </a>
                </li>
                <li><a routerLink="/signup">SignUp</a></li>
                <li><a routerLink="/trainer">Trainer</a></li>
                <li><a routerLink="/trainee">Trainee</a></li>
                <li><a routerLink="/aboutus">About Us</a></li>
                <li><a routerLink="/contactUs"> Contact Us</a></li>
                
              </ul>
            </nav>
          </div>
        </div>
      </header>		
    </div>

<!-- end:fh5co-header -->
<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/ss.jpg);">
        <div class="desc animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Welcome  Trainee <br> <b>Page</b></h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<div class="profile-main">
		<div class="profile-header">
			<div class="user-detail">
				<div class="user-image">
					<img src="http://nicesnippets.com/demo/up-profile.jpg">
				</div>
				<div class="user-data">
					<h2>Member name</h2>
					<span class="post-label">Trainee</span>
					<span class="post-label">Speaker</span>
					<span class="post-label">AMA</span>
					<p>Trainee Member <strong>NewSpot</strong><br>
					<i class="fa fa-map-marker" aria-hidden="true"></i> Kandy,Sri Lanka.
					</p>
        </div>
        
     </div>
		 <div class="tab-panel-main">
				<ul class="tabs">
					<li class="tab-link current" data-tab="Basic-detail">Schedule Detail</li>
					<li class="tab-link" data-tab="Edu-detail">Nutrition Detail</li>
					<li class="tab-link" data-tab="Portfolio">Payment Detail</li>
				</ul>
				<div id="Basic-detail" class="tab-content current">
					<div class="skill-box">
					  <ul>
						  <li><strong>My Core Skills:</strong></li>
						  <li>RUNNING<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></li>
						  <li>WEIGHT LIFTING<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></li>
						  <li>FITNESS<i class="fa fa-star" aria-hidden="true"></i></li>
					  </ul>		
					</div>
					<div class="bio-box">
						<div class="heading">
							<p>Professional Experience
							<label>2 Year Experience</label></p>
						</div>
						<div class="desc">
							I am the trainee member of Fitness Gym Management System.
						</div>
					</div>
					<div class="detail-box">
						<p>Detail</p>
						<ul class="ul-first">
							<li>Birth date</li>
							<li>City</li>
							<li>Country</li>
							<li>Contact No</li>
						</ul>
						<ul class="ul-second">
							<li>8 March 1993</li>
							<li>No.202/3,<br>
							    Fit & Lift fitness center,<br>
							    Katugasthota rd,<br>
								Kandy,<br>
								Sri Lanka.</li>
							<li>0702854991</li>
						</ul>
					</div>
				</div>
				<div id="Edu-detail" class="tab-content">
					<div class="Edu-box-main">
						 <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Workout Details</h2>
						 
					</div>
				</div>
				
				<footer>
					<div id="footer">
						<div class="container">
							
							<div class="row copy-right">
								<div class="col-md-6 col-md-offset-3 text-center">
									<p class="fh5co-social-icons">
										<a href="#"><i class="icon-twitter2"></i></a>
										<a href="#"><i class="icon-facebook2"></i></a>
										<a href="#"><i class="icon-instagram"></i></a>
										<a href="#"><i class="icon-dribbble2"></i></a>
										<a href="#"><i class="icon-youtube"></i></a>
									</p>
									<p>Faculty of Science, University of Peradeniya. <br>Made By Tutuu <i class="icon-heart3"></i>  </p>
								</div>
							</div>
						</div>
					</div>
				</footer>