<div id="fh5co-wrapper">
    <div id="fh5co-page">
    <div id="fh5co-header">
      <header id="fh5co-header-section">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html">Fit<span>ness</span></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li class="active">
                  <a routerLink="/">Home</a>
                </li>
                
                <li>
                  <a routerLink="/login">Login </a>
                </li>
                <li><a routerLink="/signup">SignUp</a></li>
                <li><a routerLink="/trainer">Trainer</a></li>
                <li><a routerLink="/trainee">Trainee</a></li>
                <li><a routerLink="/aboutus">About Us</a></li>
                <li><a routerLink="/contactUs"> Contact Us</a></li>
                
              </ul>
            </nav>
          </div>
        </div>
      </header>		
    </div>

<!-- end:fh5co-header -->
<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/ss.jpg);">
        <div class="desc animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Fitness &amp; Health <br> <b>Home</b></h2>
                        <p><span>Created with <i class="icon-heart3"></i> by the fine folks at <a href="" class="fh5co-site-name">University of Peradeniya</a></span></p>
                        <span><a class="btn btn-primary" >Group 05</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="fh5co-schedule-section" class="fh5co-lightgray-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading-section text-center animate-box">
                    <h2>Class Schedule</h2>
                    <p>Faculty of Science, University of Peradeniya.</p>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="schedule">
                    <li><a href="#" class="active" data-sched="sunday">Sunday</a></li>
                    <li><a href="#" data-sched="monday">Monday</a></li>
                    <li><a href="#" data-sched="tuesday">Tuesday</a></li>
                    <li><a href="#" data-sched="wednesday">Wednesday</a></li>
                    <li><a href="#" data-sched="thursday">Thursday</a></li>
                    <li><a href="#" data-sched="monday">Monday</a></li>
                    <li><a href="#" data-sched="saturday">Saturday</a></li>
                </ul>
            </div>
            <div class="row text-center">

                <div class="col-md-12 schedule-container">

                    <div class="schedule-content active" data-day="sunday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="monday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="tuesday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="wednesday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="thursday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="friday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="saturday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Sanduni Maheshika</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="assets/images/s3.jpg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->
                </div>

                
            </div>
        </div>
    </div>
</div>




<footer>
    <div id="footer">
        <div class="container">
            
            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Faculty of Science, University of Peradeniya. <br>Made By Tutuu <i class="icon-heart3"></i>  </p>
                </div>
            </div>
        </div>
    </div>
</footer>
